2do_bioinf/ProgAvanzada/TPPromocional/doc_html/**/** linguist-vendored
**/Makefile linguist-detectable=false
**/*.pro linguist-language=C++
**/*.h linguist-language=C++
2do_TUPED/EDM/Examen/Examen_final.ipynb linguist-language=R